@mixin vertically-centered($container-height: 0) {
  line-height: $container-height;
}

@mixin bottom-centered() {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin top-centered() {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

@mixin alert-box($bg-color, $border-color, $font-color) {
  background-color: $bg-color;
  border: 2px solid $border-color;
  border-radius: 3px;
  font-size: 16px;
  color: $font-color;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}