%div.row{role: "alerts-container"}
  = render partial: 'shared/flash_alerts'

%div.row
  %div.large-12.columns
    %div.panel.blog-banner= @post.title

%div.row
  %div.large-1.columns.small-3
    = image_link(@post.photo(:thumb))
  %div.large-11.columns
    = render partial: "shared/markdown_container", locals: { text: @post.body }

    %hr

    #disqus_thread
    :javascript
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'dainjar';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    %noscript
      Please enable JavaScript to view the
      %a{:href => "https://disqus.com/?ref_noscript", :rel => "nofollow"} comments powered by Disqus.
