%div.large-12.columns.large-centered
  %div{ class: "row collapse postfix-round" }
    = simple_form_for :search, url: search_path, method: 'get' do |f|
      %div{ class: "small-10 columns", style: 'padding-right:0;' }
        = f.input :text, label: false, input_html: { placeholder: 'Search Here' }
      %div{ class: "small-2 columns",  style: 'padding-left:0;' }
        = f.button :submit, "Go", class: "button postfix"
