%div.large-12.columns.large-centered
  %div{ class: "row collapse postfix-round" }
    = simple_form_for :search, url: search_path do |f|
      %div{ class: "small-9 columns" }
        = f.input :text, label: false, input_html: { placeholder: 'Search Here' }
      %div{ class: "small-3 columns" }
        = f.button :submit, "Go", class: "button postfix"