$brand-primary: #2ba6cb;
$brand-white: #000000;
$baseFontFamily: Helvetica, Arial, sans-serif;

$light-gray: #e3e3e3;
$medium-gray: #a3a3a3;
$dark-gray: darken($medium-gray, 20%);

$default-padding: 15px;
$default-margins: 15px;

$small-padding: 5px;
$small-margins: 5px;

// flash messages
$success: #76be8e;
$success-border: darken($success, 20%);
$warning: #fff086;
$warning-border: darken($warning, 20%);
$failure: #ff8183;
$failure-border: darken($failure, 20%);

$alert: #F22613;
$success: #87D37C;
