@mixin btn($iconColor, $font-size) {
  @extend .btn-clean;
  @extend .rounded-corners;

  &:hover {background-color: transparent;}
  display: inline-block;
  .icon-font {
    color: $iconColor;
    font-size: $font-size;
  }
}

.btn-icon {@include btn($brand-primary, 30px);}
.social-icon {@include btn(black, 40px);}
.facebook:hover {color: #3B5998;}
.linkedin:hover {color: #4875B4;}
.twitter:hover  {color: #33CCFF;}
.github:hover   {color: #999;}
.google-plus:hover {color: #C63D2D;}


.btn-clean {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  color: $brand-white;
  cursor: pointer;
  font-family: $baseFontFamily;
  font-size: 10px;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: left;
  width: auto;
}

.rounded-corners {border-radius: 5px;}