.email-container {
  .close { margin-bottom: 10px;}
  padding: $default-padding;
  background-color: black;
  width: 500px;
  height: auto;
  color: white;
  label {color: white;}
  textarea { height: auto;}
  form { margin-bottom: 0; }
}