$header-height: 100px;

.header-container {
  position: relative;
  width: 100%; /* for IE 6 */

  .background-image {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
  }
  .background-image-text {
    color: white;
    font-family: "Papyrus";
    font-style: italic;
    position: absolute;
    bottom: 50;
    left: 0;
    width: 100%;
  }
  .home-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    .nav-section {top: 20px;}
    .site-title { top: 5px;}
    .home-header-title {margin: 0px;}
  }
  a {color: white;}
}