$header-height: 100px;

.header-container {
  position: relative;
  width: 100%; /* for IE 6 */

  .background-image {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
  }
  .background-image-text {
    color: white;
    font-family: "Papyrus";
    font-style: italic;
    position: absolute;
    top: 150;
    left: 0;
    width: 100%;
  }
  .home-header {
    @include top-centered;
    height: $header-height;
    .nav-section {top: 20px;}
    .site-title { top: 5px;}
    .home-header-title {margin: 0px;}
  }
  .nav-section-small {
    position:absolute;
    left:0;
    right:0;
    bottom: 5;
    text-align: center;
    ul.inline-list {
      display: inline-block;
      margin: 0;
      li {
        border: 2px solid white;
        padding: 5px;
        border-radius: $default-padding;
        min-width: 110px;
        margin-left: 5px;
        &:hover {
          background-color: white;
          opacity: 0.6;
          a {color: black;}
        }
      }
    }
  }
  a {color: white;}
}

.home-body {
  margin-top: $default-margins;
}