.pagination {
  background-color: none;
  display: inline-block;
  padding: $default-padding;
  height: auto;
  margin-bottom: $default-padding;
  .page {
    &:before {content: "|";}
  }
  .next {
    &:before {content: "|";}
  }
  .current {
    font-weight: bold;
  }
  & a {
    color: black;
  }
}
