%div.footer-div.large-12.columns
  %div.row
    %div.large-6.columns
      %p © Copyright no one at all. Go to town.

    %div.large-6.small-12.columns
      %ul.inline-list.right
        %li
          %button.social-icon
            %i.icon-font.facebook
        %li
          %button.social-icon
            %i.icon-font.github
        %li
          %button.social-icon
            %i.icon-font.linkedin
        %li
          %button.social-icon
            %i.icon-font.twitter
        %li
          %button.social-icon
            %i.icon-font.email
