%div.footer-div
  %div.row
    %div.large-4.columns.large-centered.social-buttons{style: "text-align:center;"}
      Check me out on social networks
      %ul.inline-list{style: "display:inline-block;"}
        %li
          %a{href: "https://www.facebook.com/dainhall?fref=ts"}
            %button.social-icon
              %i.icon-font.facebook
        %li
          %a{href: "https://github.com/daino3"}
            %button.social-icon
              %i.icon-font.github
        %li
          %a{href: "https://www.linkedin.com/profile/view?id=106601609&trk=nav_responsive_tab_profile_pic"}
            %button.social-icon
              %i.icon-font.linkedin
        %li
          %a{href: "https://twitter.com/donelikedainer?lang=en"}
            %button.social-icon
              %i.icon-font.twitter
        %li
          %a{href: ""}
            %button.social-icon
              %i.icon-font.email