%div.footer-div
  %div.row
    %div.large-4.columns.large-centered.social-buttons
      Check me out on social networks
      %ul.inline-list
        %li
          %button.social-icon
            %i.icon-font.facebook
        %li
          %button.social-icon
            %i.icon-font.github
        %li
          %button.social-icon
            %i.icon-font.linkedin
        %li
          %button.social-icon
            %i.icon-font.twitter
        %li
          %button.social-icon
            %i.icon-font.email