%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a{href: "#"} Dainjar.us
    // Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span Menu

  %section.top-bar-section
    %ul
      %li.divider.hide-for-small
      %li.has-form
        %form
          %div.row.collapse
            %div.small-8.columns
              %input{type: "text"}
            %div.small-4.columns
              %a{href: "#", class: "alert button"} Search

    %ul.right
      %li.divider
      %li= link_to "Home", root_path
      %li.divider
      %li= link_to "Blog", blog_posts_path
      %li.divider
      %li= link_to "Download Resume", "#"
      %li.divider